<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
  <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="client.log"/>
    <param name="Append" value="false" />
    <param name="DatePattern" value="'.'yyyy-MM-dd"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d %-5p [%c] (%t) %m%n"/>
    </layout>	    
  </appender>
  <root>
    <level value="TRACE" class="org.jboss.logging.XLevel"/>
    <appender-ref ref="FILE"/>
  </root>
</log4j:configuration>
